@font-face {
  font-family: "Inter Regular";
  src: url("../../static/fonts/Inter-Regular.otf") format("opentype");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Inter Medium";
  src: url("../../static/fonts/Inter-Medium.otf") format("opentype");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Inter Bold";
  src: url("../../static/fonts/Inter-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-display: swap;
}

body {
  font-family: "Inter Regular", sans-serif;
  background: var(--c-bg);
  min-height: 100vh;
}
strong {
  font-family: "Inter Medium";
  letter-spacing: -1px;
}

svg path {
  fill: var(--c-icon);
}

.icon-link {
  padding: 0.3rem;
  display: flex;
  align-items: center;
  border-radius: var(--b-radius);
  box-sizing: border-box;
  margin-right: 0.2rem;
  cursor: pointer;
}
.icon-link:hover {
  background: var(--c-bg-secondary);
}
.icon-link:hover svg path {
  fill: var(--c-icon-hover);
}

@keyframes fadeUp {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

a {
  color: var(--c-text-idle);
  font-family: "Inter Medium";
}
a:hover {
  color: var(--c-text-sub);
}
